body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input, button {
    margin: 5px;
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.producto h3 {
    margin: 0;
}

.producto button {
    margin: 5px;
}
